
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_HomePageLayoutPage.cshtml";
}

@using RaepieHomePage.Models;

@model RaepieHomePage.Models.Members


@{
    ViewBag.Title = "Entry";
    Layout = "~/Views/Shared/_HomePageLayoutPage.cshtml";

    Response.Write(ViewBag.Result);
}

<div id="feedback" class="inner-content">
    <section id="page-title" class="inner-section">
        <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
            <h2 class="font-accident-two-normal uppercase">Feedback</h2>
            <h5 class="font-accident-one-bold hovercolor uppercase">Hard-working person on the way to the success...</h5>
            <p class="small fontcolor-medium">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id metus purus. Ut vulputate, est vel tincidunt mattis, orci neque iaculis lectus, et interdum quam felis vel tortor. Fusce ultrices dui quis nunc dignissim faucibus. Ut ac odio quis nibh viverra fringilla ac id nisi. Suspendisse tincidunt augue quis ligula cursus, non efficitur ligula faucibus. Mauris id neque maximus, tincidunt metus et, sodales nulla.
            </p>
        </div>
    </section>
    <!-- Feedback Block -->
    <section class="inner-section feedback feedback-light">
        <div class="container-fluid nopadding">
            <div class="row">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-8 e-centered wow fadeInDown" data-wow-delay="0.6s" data-wow-offset="10">
                    <div class="dividewhite2"></div>
                    <div id="form-messages"></div>
                    <form method="post" action="@Url.Action("Edit", "Member")" calss="wpcf7-form">
                        <div class="field">
                            <div class="row">
                                <!--<label for="name">Name:</label>-->
                                <div class="col-md-6"> @Html.TextBoxFor(m => m.MemberID, new { placeholder = "enter your ID." })</div>
                                <div class="col-md-2"><button type="button" onclick="return fnDoubleCheck();" class="btn btn-lg btn-lgr-str">중복검사</button></div>
                            </div>
                        </div>
                        <div class="field">
                            <!--<label for="email">Email:</label>-->
                            @Html.TextBoxFor(m => m.MemberName, new { placeholder = "enter your Name" })
                        </div>
                        <div class="field">
                            <!--<label for="message">Message:</label>-->
                            @Html.TextBoxFor(m => m.MemberPWD, new { placeholder = "enter your Password" })
                        </div>
                        <div class="field">
                            <!--<label for="message">Message:</label>-->
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "enter your Email" })
                        </div>
                        <div class="field">
                            <!--<label for="message">Message:</label>-->
                            @Html.TextBoxFor(m => m.Telephone, new { placeholder = "enter your Telephone" })
                        </div>
                        <div class="dividewhite2"></div>
                        <div class="field text-center">
                            <button type="submit" class="btn btn-lg btn-lgr-str" onclick="return fnSaveCheck()">Edit</button>
                            <button type="button" class="btn btn-lgbtn-danger btn-lgr-str" onclick="return fnDeleteConfirm()">Del</button>
                        </div>
                       
                    </form>
                </div>
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-12 divider-dynamic"></div>
            </div>
        </div>
        <div class="dividewhite6"></div>
    </section>
    <!-- /Feedback Block -->
    <!-- Testmonials Block -->
    <section id="testmonials" class="inner-section color01">
        <div class="container-fluid nopadding">
            <div class="wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10">
                <h3 class="font-accident-two-normal uppercase text-center">Testmonials</h3>
                <h5 class="font-accident-one-bold uppercase hovercolor text-center">Working hard and making the success</h5>
                <div class="dividewhite1"></div>
                <p class="small fontcolor-medium text-center">
                    Customize your website as you want using different colors and 100% free fonts. Build it from pieces and
                    blocks as simple as Lego. <br>
                    Electronic Website Template is fully responsive, looks and works perfect on any device.
                </p>
            </div>
            <div class="dividewhite4"></div>
            <div class="row">
                <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.5s" data-wow-offset="10">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="assets/custom/images/userpic04.jpg" alt="Rachel James Johnes" class="img-responsive img-circle author-userpic">
                        </div>
                        <div class="col-xs-9">
                            <h5 class="font-accident-one-bold text-left uppercase">Hans Zimmer</h5>
                            <p class="small hovercolor">Apple Inc.</p>
                            <p class="text-left small">
                                With more devices come varying screen resolutions, definitions and orientations. New devices
                                with new screen sizes are being developed every day, and each of these devices may be able...
                            </p>
                        </div>
                    </div>
                    <div class="divider-dynamic"></div>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="10">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="assets/custom/images/userpic02.jpg" alt="Rachel James Johnes" class="img-responsive img-circle author-userpic">
                        </div>
                        <div class="col-xs-9">
                            <h5 class="font-accident-one-bold text-left uppercase">Mario Quinn</h5>
                            <p class="small hovercolor">Adobe</p>
                            <p class="text-left small">
                                With more devices come varying screen resolutions, definitions and orientations. New devices
                                with new screen sizes are being developed every day, and each of these devices
                            </p>
                        </div>
                    </div>
                    <div class="divider-dynamic"></div>
                </div>
                <div class="col-md-4 wow fadeInRight" data-wow-delay="0.5s" data-wow-offset="10">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="assets/custom/images/userpic03.jpg" alt="Rachel James Johnes" class="img-responsive img-circle author-userpic">
                        </div>
                        <div class="col-xs-9">
                            <h5 class="font-accident-one-bold text-left uppercase">Karl Romm</h5>
                            <p class="small hovercolor">BMW</p>
                            <p class="text-left small">
                                With more devices come varying screen resolutions, definitions and orientations. New devices
                                with new screen sizes are being developed every day, and each of these devices
                            </p>
                        </div>
                    </div>
                    <div class="divider-dynamic"></div>
                </div>
            </div>
            <div class="dividewhite6"></div>
        </div>
    </section>
    <!-- /Testmonials Block -->
</div>

@section Scripts {
    <script>
    $("#btnSave").attr("disabled", true);
    var result = '@ViewBag.Result';
    if (result == 'OK')
    {
        alert('정상적으로 저장되었습니다.')
    }
    else if(result == 'FAIL')
    {
        alert('저장 작업을 실패하였습니다.')
    }

    function fnSaveCheck() {
    if ($("#MemberID").val() == "") {
        alert("아이디를 입력해 주십시오");
        $("#MemberID").focus();
        return false;
    }
    if ($("#MemberName").val() == "") {
        alert("이름을 입력해 주십시오");
        $("#MemberName").focus();
        return false;
    }
    if ($("#MemberPWD").val() == "") {
        alert("비밀번호를 입력해 주십시오");
        $("#MemberPWD").focus();
        return false;
    }
        return true;
    }

    function fnDoubleCheck() {
        if ($("#MemberID").val() == "") {
            alert("enter your ID");
            $("#MemberID").focus();
            return false;
        }
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '/Member/IDCheck?memberid=' + $("#MemberID").val(),
            data: "{}",
            dataType: "json"
        })
        .done(function (response) {
            if (response == "OK") {
                alert("사용가능한 아이디입니다.");
                $("#btnSave").removeAttr("disabled");
            } else {
                alert("중복 아이디가 존재합니다.");
                $('#MemberID').val('');
                $('#MemberID').focus();
                $('#btnSave').attr("disabled", true);
            }
        })
        .fail(function (data) {
            if (data.responseText != '') {
                alert(data.responseText);
            } else {
                alert('에러가 발생했습니다');
            }
        });
    }

        function fnDeleteConfirm() {
            if (confirm("Do you want to delete?") == true) {
                window.location.href = "/Member/Delete?memberid=" + $("#MemberID").val();
            }
            else {
                return false;
            }
        }
    </script>
}


