@using RaepieHomePage.Models;
@model List<RaepieHomePage.Models.Articles>


@{
    ViewBag.Title = "ArticleList";
    Layout = "~/Views/Shared/_HomePageLayoutPage.cshtml";
}

<!-- Container -->
<div class="content-wrap">
    <div id="blogpost" class="inner-content">
        <section class="inner-section">
            <div class="container-fluid nopadding">
                <div class="cd-words-wrapper fadeInDown" data-wow-delay="0.6s" data-wow-offset="10">
                    <div id="post-comment">
                        <h4 class="font-accident-one-light uppercase">게시글 목록</h4>
                    </div>
                    <div class="dividewhite4"></div>
                    <div class="row">
                        <table class="footable table table-striped toggle-arrow-tiny" data-page-size="3">
                            <thead>
                                <tr>
                                    <td width="10%">순서</td>
                                    <td width="10%">고유번호</td>
                                    <td width="20%">카테고리</td>
                                    <td width="20%">제목</td>
                                    <td width="20%">등록자</td>
                                    <td width="20%">등록일</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                    int idx = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    idx = Model.Count - i;
                                    <tr>
                                        <td>@idx.ToString()</td>
                                        <td><a href="/Board/Edit?aidx=@item.ArticleIDX">@item.ArticleIDX</a></td>
                                        <td>@item.Category</td>
                                        <td>@item.Title</td>
                                        <td>@item.RegistMemberID</td>
                                        <td>@Convert.ToDateTime(item.RegistDate).ToString("yyyy-mm-dd")</td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6"><ul class="pagination pull-right"></ul></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
@section Scripts {
    <script>
    $(document).ready(function () {
        $('.footable').footable();
    });
    </script>
}
